<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

<div class="shell">

    <div id="header">
        <h1 id="logo"><a href="#"></a></h1>
        <div id="cart">
            <a href="#" class="cart-link">Корзина</a>
            <div class="cl">&nbsp;</div>
            <span>Товары: <strong>1</strong></span>
            &nbsp;&nbsp;
            <span>Цена: <strong>50.000р</strong></span>
        </div>
        <div id="navigation">
            <ul>
                <li><a href="#" class="active">Главная</a></li>
                <li><a href="#">Аккаунт</a></li>
                <li><a href="#">Товары</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
    @RenderBody()
    <div class="more-products">
        <div class="more-products-holder">
            <div class="jcarousel-container jcarousel-container-horizontal" style="display: block;"><div class="jcarousel-clip jcarousel-clip-horizontal"><ul class="jcarousel-list jcarousel-list-horizontal" style="width: 2070px; left: -1265px;">
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" jcarouselindex="1"><a href="#"><img src="css/images/small1.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" jcarouselindex="2"><a href="#"><img src="css/images/small2.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" jcarouselindex="3"><a href="#"><img src="css/images/small3.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" jcarouselindex="4"><a href="#"><img src="css/images/small4.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal" jcarouselindex="5"><a href="#"><img src="css/images/small5.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal" jcarouselindex="6"><a href="#"><img src="css/images/small6.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal" jcarouselindex="7"><a href="#"><img src="css/images/small1.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-8 jcarousel-item-8-horizontal" jcarouselindex="8"><a href="#"><img src="css/images/small2.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-9 jcarousel-item-9-horizontal" jcarouselindex="9"><a href="#"><img src="css/images/small3.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-10 jcarousel-item-10-horizontal" jcarouselindex="10"><a href="#"><img src="css/images/small4.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-11 jcarousel-item-11-horizontal" jcarouselindex="11"><a href="#"><img src="css/images/small5.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-12 jcarousel-item-12-horizontal" jcarouselindex="12"><a href="#"><img src="css/images/small6.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-13 jcarousel-item-13-horizontal" jcarouselindex="13"><a href="#"><img src="css/images/small1.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-14 jcarousel-item-14-horizontal" jcarouselindex="14"><a href="#"><img src="css/images/small2.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-15 jcarousel-item-15-horizontal" jcarouselindex="15"><a href="#"><img src="css/images/small3.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-16 jcarousel-item-16-horizontal" jcarouselindex="16"><a href="#"><img src="css/images/small4.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-17 jcarousel-item-17-horizontal" jcarouselindex="17"><a href="#"><img src="css/images/small5.jpg" alt=""></a></li>
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-18 jcarousel-item-18-horizontal" jcarouselindex="18"><a href="#"><img src="css/images/small6.jpg" alt=""></a></li>
            </ul></div></div>
        </div>
        <div class="more-nav">
            <a href="#" class="prev">previous</a>
            <a href="#" class="next">next</a>
        </div>
    </div>
    <div class="cols">
        <div class="cl">&nbsp;</div>
        <div class="col">
            <h3 class="ico ico1">Доставка</h3>
            <p>Доставка осуществялется как почтой так и курьерской службой в сроки от 15 до 30 дней</p>
            <p class="more"><a href="#" class="bul">Подробнее</a></p>
        </div>
        <div class="col">
            <h3 class="ico ico2">Заказ</h3>
            <p>Заказ можно сделать как и на сайте через корзину так и через нашего оператора</p>
            <p class="more"><a href="#" class="bul">Подробнее</a></p>
        </div>
        <div class="col">
            <h3 class="ico ico3">Подарки</h3>
            <p>Получайте приятные подарки и скидки за покупку товара</p>
            <p class="more"><a href="#" class="bul">Подробнее</a></p>
        </div>
        <div class="col col-last">
            <h3 class="ico ico4">Оплата</h3>
            <p>Оплачивать можно как и через сайт так и при получении товара </p>
            <p class="more"><a href="#" class="bul">Подробнее</a></p>
        </div>
        <div class="cl">&nbsp;</div>
    </div>
    <div id="footer">
        <p class="left">
            <a href="#">Главная</a>
            <span>|</span>
            <a href="#">Личный кабинет</a>
            <span>|</span>
            <a href="#">Каталог</a>
            <span>|</span>
            <a href="#">Контакты</a>
        </p>
        <p class="right">
            2017г Интернет магазин сотовой техники
            Белгород Садовая 116б
            с 9:00 до 18:00
        </p>
    </div>

</div>

</body>
</html>